.education,
.education * {
  box-sizing: border-box;
}
.education {
  background: #757575;
  height: 935px;
  position: relative;
  overflow: hidden;
}
.in-may-2024-i-graduated-with-a-bachelors-of-science-in-systems-engineering-and-design-from-the-university-of-illinois-at-urbana-champaign-s-grainger-college-of-engineering-the-interdisciplinary-program-provided-me-the-unique-opportunity-to-study-a-wide-range-of-engineering-disciplines-including-industrial-mechanical-electrical-materials-science-as-well-as-the-option-to-pursue-a-secondary-field-of-studies-in-business-systems-integration-and-consulting-through-my-studies-coupled-with-my-natural-inclination-to-problem-solving-and-project-work-i-fell-in-love-with-applying-the-technical-principals-and-the-engineering-mindset-i-acquired-to-achieve-impactful-results-in-the-professional-setting-i-am-both-a-successful-self-starter-and-team-player-with-a-profound-love-for-collaborating-in-teams-with-diverse-individuals-internally-and-externally {
  color: rgba(255, 255, 255, 0.77);
  text-align: left;
  font-family: "Maven Pro", Helvetica;
  font-size: 20px;
  line-height: 160%;
  font-weight: 400;
  position: absolute;
  left: 96px;
  top: 315px;
  width: 975px;
  height: 479px;
}
.image-1 {
  width: 381px;
  height: 380px;
  position: absolute;
  left: 1177px;
  top: 333px;
  object-fit: cover;
}
.image-5 {
    width: 85px;
    height: 85px;
    position: absolute;
    left: 1049px;
    top: 195px;
    object-fit: cover;
  }
  .image-2 {
    width: 85px;
    height: 85px;
    position: absolute;
    left: 1177px;
    top: 195px;
    object-fit: cover;
  }
  .image-3 {
    width: 85px;
    height: 85px;
    position: absolute;
    left: 1303px;
    top: 195px;
    object-fit: cover;
  }
  .image-4 {
    width: 85px;
    height: 85px;
    position: absolute;
    left: 1419px;
    top: 195px;
    object-fit: cover;
  }
._2024-emily-deleon {
  color: rgba(255, 255, 255, 0.19);
  text-align: center; /* Ensures the text inside the element is centered */
  font-family: "Maven Pro", Helvetica;
  font-size: 24px;
  line-height: 160%;
  font-weight: 400;
  position: absolute;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Shift horizontally by half its width to truly center it */
  top: 760px;
  width: 241px;
  height: 52px;
}
.emily-deleon-emilygdeleon-gmail-com {
  color: rgba(255, 255, 255, 0.9);
  text-align: left;
  position: absolute;
  right: 10px;
  left: 85px;
  top: 150px;
  height: 200px;
}
.emily-deleon-emilygdeleon-gmail-com-span {
  color: rgba(255, 255, 255, 0.9);
  font-family: "Libre Baskerville", Helvetica;
  font-size: 63px; /* Reduced by 30% */
  line-height: 120%; /* Maintaining the same line-height ratio */
  letter-spacing: -0.02em; /* Keeping the letter-spacing the same */
  font-weight: 400;
}
.emily-deleon-emilygdeleon-gmail-com-span2 {
  color: rgba(255, 255, 255, 0.9);
  font-family: "Libre Baskerville", Helvetica;
  font-size: 45px; /* Reduced by 30% and rounded */
  line-height: 120%; /* Maintaining the same line-height ratio */
  letter-spacing: -0.02em; /* Keeping the letter-spacing the same */
  font-weight: 400;
}
.header {
  width: 1714px;
  height: 221px;
  position: absolute;
  left: calc(50% - 824px);
  top: 26px;
  overflow: hidden;
}
.experience {
  color: rgba(255, 255, 255, 0.77);
  text-align: center;
  font-family: "Maven Pro", Helvetica;
  font-size: 32px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 623px);
  top: calc(50% - 82.5px);
  width: 252px;
  height: 101px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.education2 {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-family: "Maven Pro", Helvetica;
  font-size: 32px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  right: 990px;
  top: 28px;
  width: 181px;
  height: 101px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.technical-skills-and-relevant-skills {
  color: rgba(255, 255, 255, 0.77);
  text-align: center;
  font-family: "Maven Pro", Helvetica;
  font-size: 32px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  right: 355px;
  top: 28px;
  width: 542px;
  height: 101px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.linked-in {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-family: "Maven Pro", Helvetica;
  font-size: 32px;
  line-height: 130%;
  font-weight: 400;
  text-decoration: underline;
  position: absolute;
  right: 90px;
  top: 28px;
  width: 173px;
  height: 101px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-family: "Maven Pro", Helvetica;
  font-size: 32px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  right: 1536px;
  top: 28px;
  width: 190px;
  height: 101px;
  display: flex;
  align-items: center;
  justify-content: center;
}
