.technical-skills-and-relevant-courses,
.technical-skills-and-relevant-courses * {
  box-sizing: border-box;
}
.technical-skills-and-relevant-courses {
  background-color: #757575;
  height: 2400px;
  position: relative;
  overflow: hidden;
}
.technical-skills-python-sql-figma-power-bi-microsoft-office-suite-excel-power-point-word-outlook-teams-one-note-share-point-one-drive-google-suite-drive-docs-sheets-forms-calendar-smartsheet-airtable-matlab-cad-autodesk-inventor-fusion-360-lt-spice-automation-optimization-modeling-engineering {
  color: rgba(255, 255, 255, 0.77);
  text-align: left;
  font-family: "Maven Pro", Helvetica;
  font-size: 36px;
  line-height: 160%;
  font-weight: 700;
  position: relative;
  left: 150px;
  top: 600px;
  width: 743px;
  height: 1638px;
}
.technical-skills-python-sql-figma-power-bi-microsoft-office-suite-excel-power-point-word-outlook-teams-one-note-share-point-one-drive-google-suite-drive-docs-sheets-forms-calendar-smartsheet-airtable-matlab-cad-autodesk-inventor-fusion-360-lt-spice-automation-optimization-modeling-engineering-span {
  color: rgba(255, 255, 255, 0.77);
  font-family: "Maven Pro", Helvetica;
  font-size: 36px;
  line-height: 160%;
  font-weight: 700;
  text-decoration: underline;
}
.technical-skills-python-sql-figma-power-bi-microsoft-office-suite-excel-power-point-word-outlook-teams-one-note-share-point-one-drive-google-suite-drive-docs-sheets-forms-calendar-smartsheet-airtable-matlab-cad-autodesk-inventor-fusion-360-lt-spice-automation-optimization-modeling-engineering-span2 {
  color: rgba(255, 255, 255, 0.77);
  font-family: "Maven Pro", Helvetica;
  font-size: 36px;
  line-height: 160%;
  font-weight: 400;
}
.technical-skills-python-sql-figma-power-bi-microsoft-office-suite-excel-power-point-word-outlook-teams-one-note-share-point-one-drive-google-suite-drive-docs-sheets-forms-calendar-smartsheet-airtable-matlab-cad-autodesk-inventor-fusion-360-lt-spice-automation-optimization-modeling-engineering-span3 {
  color: rgba(255, 255, 255, 0.77);
  list-style-type: disc;
  padding-left: 1em;
  font-family: "Maven Pro", Helvetica;
  font-size: 36px;
  line-height: 160%;
  font-weight: 400;
}
.technical-skills-python-sql-figma-power-bi-microsoft-office-suite-excel-power-point-word-outlook-teams-one-note-share-point-one-drive-google-suite-drive-docs-sheets-forms-calendar-smartsheet-airtable-matlab-cad-autodesk-inventor-fusion-360-lt-spice-automation-optimization-modeling-engineering-span4 {
  color: rgba(255, 255, 255, 0.77);
  font-family: "Maven Pro", Helvetica;
  font-size: 36px;
  line-height: 160%;
  font-weight: 400;
}
.technical-skills-python-sql-figma-power-bi-microsoft-office-suite-excel-power-point-word-outlook-teams-one-note-share-point-one-drive-google-suite-drive-docs-sheets-forms-calendar-smartsheet-airtable-matlab-cad-autodesk-inventor-fusion-360-lt-spice-automation-optimization-modeling-engineering-span5 {
  color: rgba(255, 255, 255, 0.77);
  list-style-type: disc;
  padding-left: 1em;
  font-family: "Maven Pro", Helvetica;
  font-size: 36px;
  line-height: 160%;
  font-weight: 400;
}
.technical-skills-python-sql-figma-power-bi-microsoft-office-suite-excel-power-point-word-outlook-teams-one-note-share-point-one-drive-google-suite-drive-docs-sheets-forms-calendar-smartsheet-airtable-matlab-cad-autodesk-inventor-fusion-360-lt-spice-automation-optimization-modeling-engineering-span6 {
  color: rgba(255, 255, 255, 0.77);
  font-family: "Maven Pro", Helvetica;
  font-size: 36px;
  line-height: 160%;
  font-weight: 400;
}
.technical-skills-python-sql-figma-power-bi-microsoft-office-suite-excel-power-point-word-outlook-teams-one-note-share-point-one-drive-google-suite-drive-docs-sheets-forms-calendar-smartsheet-airtable-matlab-cad-autodesk-inventor-fusion-360-lt-spice-automation-optimization-modeling-engineering-span7 {
  color: rgba(255, 255, 255, 0.77);
  list-style-type: disc;
  padding-left: 1em;
  font-family: "Maven Pro", Helvetica;
  font-size: 36px;
  line-height: 160%;
  font-weight: 400;
}
.technical-skills-python-sql-figma-power-bi-microsoft-office-suite-excel-power-point-word-outlook-teams-one-note-share-point-one-drive-google-suite-drive-docs-sheets-forms-calendar-smartsheet-airtable-matlab-cad-autodesk-inventor-fusion-360-lt-spice-automation-optimization-modeling-engineering-span8 {
  color: rgba(255, 255, 255, 0.77);
  font-family: "Maven Pro", Helvetica;
  font-size: 36px;
  line-height: 160%;
  font-weight: 400;
}
.technical-skills-python-sql-figma-power-bi-microsoft-office-suite-excel-power-point-word-outlook-teams-one-note-share-point-one-drive-google-suite-drive-docs-sheets-forms-calendar-smartsheet-airtable-matlab-cad-autodesk-inventor-fusion-360-lt-spice-automation-optimization-modeling-engineering-span9 {
  color: rgba(255, 255, 255, 0.77);
  list-style-type: disc;
  padding-left: 1em;
  font-family: "Maven Pro", Helvetica;
  font-size: 36px;
  line-height: 160%;
  font-weight: 400;
}
.technical-skills-python-sql-figma-power-bi-microsoft-office-suite-excel-power-point-word-outlook-teams-one-note-share-point-one-drive-google-suite-drive-docs-sheets-forms-calendar-smartsheet-airtable-matlab-cad-autodesk-inventor-fusion-360-lt-spice-automation-optimization-modeling-engineering-span10 {
  color: rgba(255, 255, 255, 0.77);
  list-style-type: disc;
  padding-left: 1em;
  font-family: "Maven Pro", Helvetica;
  font-size: 36px;
  line-height: 160%;
  font-weight: 400;
}
.database-design-and-management-badm-352-analysis-of-data-ie-300-deterministic-models-in-optimization-ie-310-engineering-design-optimization-se-413-senior-engineering-project-se-494-495-management-and-organizational-behavior-badm-310-engineering-law-se-400-principles-of-marketing-badm-320 {
  color: rgba(255, 255, 255, 0.77);
  text-align: left;
  font-family: "Maven Pro", Helvetica;
  font-size: 36px;
  line-height: 160%;
  font-weight: 700;
  position: absolute;
  left: 945px;
  top: 600px;
  width: 690px;
  height: 1529px;
}
.database-design-and-management-badm-352-analysis-of-data-ie-300-deterministic-models-in-optimization-ie-310-engineering-design-optimization-se-413-senior-engineering-project-se-494-495-management-and-organizational-behavior-badm-310-engineering-law-se-400-principles-of-marketing-badm-320-span {
  color: rgba(255, 255, 255, 0.77);
  font-family: "Maven Pro", Helvetica;
  font-size: 36px;
  line-height: 160%;
  font-weight: 700;
  text-decoration: underline;
}
.database-design-and-management-badm-352-analysis-of-data-ie-300-deterministic-models-in-optimization-ie-310-engineering-design-optimization-se-413-senior-engineering-project-se-494-495-management-and-organizational-behavior-badm-310-engineering-law-se-400-principles-of-marketing-badm-320-span2 {
  color: rgba(255, 255, 255, 0.77);
  font-family: "Maven Pro", Helvetica;
  font-size: 36px;
  line-height: 160%;
  font-weight: 700;
}
.database-design-and-management-badm-352-analysis-of-data-ie-300-deterministic-models-in-optimization-ie-310-engineering-design-optimization-se-413-senior-engineering-project-se-494-495-management-and-organizational-behavior-badm-310-engineering-law-se-400-principles-of-marketing-badm-320-span3 {
  color: rgba(255, 255, 255, 0.77);
  font-family: "Maven Pro", Helvetica;
  font-size: 36px;
  line-height: 160%;
  font-weight: 700;
  text-decoration: underline;
}
.database-design-and-management-badm-352-analysis-of-data-ie-300-deterministic-models-in-optimization-ie-310-engineering-design-optimization-se-413-senior-engineering-project-se-494-495-management-and-organizational-behavior-badm-310-engineering-law-se-400-principles-of-marketing-badm-320-span4 {
  color: rgba(255, 255, 255, 0.77);
  font-family: "Maven Pro", Helvetica;
  font-size: 36px;
  line-height: 160%;
  font-weight: 700;
}
.database-design-and-management-badm-352-analysis-of-data-ie-300-deterministic-models-in-optimization-ie-310-engineering-design-optimization-se-413-senior-engineering-project-se-494-495-management-and-organizational-behavior-badm-310-engineering-law-se-400-principles-of-marketing-badm-320-span5 {
  color: rgba(255, 255, 255, 0.77);
  font-family: "Maven Pro", Helvetica;
  font-size: 36px;
  line-height: 160%;
  font-weight: 700;
  text-decoration: underline;
}
.database-design-and-management-badm-352-analysis-of-data-ie-300-deterministic-models-in-optimization-ie-310-engineering-design-optimization-se-413-senior-engineering-project-se-494-495-management-and-organizational-behavior-badm-310-engineering-law-se-400-principles-of-marketing-badm-320-span6 {
  color: rgba(255, 255, 255, 0.77);
  font-family: "Maven Pro", Helvetica;
  font-size: 36px;
  line-height: 160%;
  font-weight: 700;
}
.database-design-and-management-badm-352-analysis-of-data-ie-300-deterministic-models-in-optimization-ie-310-engineering-design-optimization-se-413-senior-engineering-project-se-494-495-management-and-organizational-behavior-badm-310-engineering-law-se-400-principles-of-marketing-badm-320-span7 {
  color: rgba(255, 255, 255, 0.77);
  font-family: "Maven Pro", Helvetica;
  font-size: 36px;
  line-height: 160%;
  font-weight: 700;
  text-decoration: underline;
}
.database-design-and-management-badm-352-analysis-of-data-ie-300-deterministic-models-in-optimization-ie-310-engineering-design-optimization-se-413-senior-engineering-project-se-494-495-management-and-organizational-behavior-badm-310-engineering-law-se-400-principles-of-marketing-badm-320-span8 {
  color: rgba(255, 255, 255, 0.77);
  font-family: "Maven Pro", Helvetica;
  font-size: 36px;
  line-height: 160%;
  font-weight: 700;
}
.database-design-and-management-badm-352-analysis-of-data-ie-300-deterministic-models-in-optimization-ie-310-engineering-design-optimization-se-413-senior-engineering-project-se-494-495-management-and-organizational-behavior-badm-310-engineering-law-se-400-principles-of-marketing-badm-320-span9 {
  color: rgba(255, 255, 255, 0.77);
  font-family: "Maven Pro", Helvetica;
  font-size: 36px;
  line-height: 160%;
  font-weight: 700;
  text-decoration: underline;
}
.database-design-and-management-badm-352-analysis-of-data-ie-300-deterministic-models-in-optimization-ie-310-engineering-design-optimization-se-413-senior-engineering-project-se-494-495-management-and-organizational-behavior-badm-310-engineering-law-se-400-principles-of-marketing-badm-320-span10 {
  color: rgba(255, 255, 255, 0.77);
  font-family: "Maven Pro", Helvetica;
  font-size: 36px;
  line-height: 160%;
  font-weight: 700;
}
.database-design-and-management-badm-352-analysis-of-data-ie-300-deterministic-models-in-optimization-ie-310-engineering-design-optimization-se-413-senior-engineering-project-se-494-495-management-and-organizational-behavior-badm-310-engineering-law-se-400-principles-of-marketing-badm-320-span11 {
  color: rgba(255, 255, 255, 0.77);
  font-family: "Maven Pro", Helvetica;
  font-size: 36px;
  line-height: 160%;
  font-weight: 700;
  text-decoration: underline;
}
.database-design-and-management-badm-352-analysis-of-data-ie-300-deterministic-models-in-optimization-ie-310-engineering-design-optimization-se-413-senior-engineering-project-se-494-495-management-and-organizational-behavior-badm-310-engineering-law-se-400-principles-of-marketing-badm-320-span12 {
  color: rgba(255, 255, 255, 0.77);
  font-family: "Maven Pro", Helvetica;
  font-size: 36px;
  line-height: 160%;
  font-weight: 700;
}
.database-design-and-management-badm-352-analysis-of-data-ie-300-deterministic-models-in-optimization-ie-310-engineering-design-optimization-se-413-senior-engineering-project-se-494-495-management-and-organizational-behavior-badm-310-engineering-law-se-400-principles-of-marketing-badm-320-span13 {
  color: rgba(255, 255, 255, 0.77);
  font-family: "Maven Pro", Helvetica;
  font-size: 36px;
  line-height: 160%;
  font-weight: 700;
  text-decoration: underline;
}
.database-design-and-management-badm-352-analysis-of-data-ie-300-deterministic-models-in-optimization-ie-310-engineering-design-optimization-se-413-senior-engineering-project-se-494-495-management-and-organizational-behavior-badm-310-engineering-law-se-400-principles-of-marketing-badm-320-span14 {
  color: rgba(255, 255, 255, 0.77);
  font-family: "Maven Pro", Helvetica;
  font-size: 36px;
  line-height: 160%;
  font-weight: 700;
}
.database-design-and-management-badm-352-analysis-of-data-ie-300-deterministic-models-in-optimization-ie-310-engineering-design-optimization-se-413-senior-engineering-project-se-494-495-management-and-organizational-behavior-badm-310-engineering-law-se-400-principles-of-marketing-badm-320-span15 {
  color: rgba(255, 255, 255, 0.77);
  font-family: "Maven Pro", Helvetica;
  font-size: 36px;
  line-height: 160%;
  font-weight: 700;
  text-decoration: underline;
}
.database-design-and-management-badm-352-analysis-of-data-ie-300-deterministic-models-in-optimization-ie-310-engineering-design-optimization-se-413-senior-engineering-project-se-494-495-management-and-organizational-behavior-badm-310-engineering-law-se-400-principles-of-marketing-badm-320-span16 {
  color: rgba(255, 255, 255, 0.77);
  font-family: "Maven Pro", Helvetica;
  font-size: 36px;
  line-height: 160%;
  font-weight: 700;
}
._2024-emily-deleon {
  color: rgba(255, 255, 255, 0.19);
  text-align: center;
  font-family: "Maven Pro", Helvetica;
  font-size: 24px;
  line-height: 160%;
  font-weight: 400;
  position: absolute;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Shift horizontally by half its width to truly center it */
  left: 760px;
  top: 2300px;
  width: 241px;
  height: 96px;
}
.emily-deleon-emilygdeleon-gmail-com
.emily-deleon-emilygdeleon-gmail-com, * {
  box-sizing: border-box;
}
.emily-deleon-emilygdeleon-gmail-com {
  color: rgba(255, 255, 255, 0.9);
  text-align: left;
  position: absolute;
  right: 10px;
  left: 85px;
  top: 150px;
  height: 120px;
}
.emily-deleon-emilygdeleon-gmail-com-span {
  color: rgba(255, 255, 255, 0.9);
  font-family: "Libre Baskerville", Helvetica;
  font-size: 63px; /* Reduced by 30% */
  line-height: 120%; /* Maintaining the same line-height ratio */
  letter-spacing: -0.02em; /* Keeping the letter-spacing the same */
  font-weight: 400;
}
.emily-deleon-emilygdeleon-gmail-com-span2 {
  color: rgba(255, 255, 255, 0.9);
  font-family: "Libre Baskerville", Helvetica;
  font-size: 45px; /* Reduced by 30% and rounded */
  line-height: 120%; /* Maintaining the same line-height ratio */
  letter-spacing: -0.02em; /* Keeping the letter-spacing the same */
  font-weight: 400;
}
.courses-completed-at-the-university-of-illinois-at-urbana-champaign {
  color: rgba(255, 255, 255, 0.77);
  position: absolute;
  left: 99px;
  top: 275px;
  height: 200px;
  text-align: center; /* Ensures the text inside the element is centered */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Shift horizontally by half its width to truly center it */
}
.courses-completed-at-the-university-of-illinois-at-urbana-champaign-span2 {
  font-family: "Libre Baskerville", Helvetica;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -0.02em;
  font-weight: 400;
}
.image-5 {
  width: 85px;
  height: 85px;
  position: absolute;
  left: 1049px;
  top: 195px;
  object-fit: cover;
}
.image-2 {
  width: 85px;
  height: 85px;
  position: absolute;
  left: 1177px;
  top: 195px;
  object-fit: cover;
}
.image-3 {
  width: 85px;
  height: 85px;
  position: absolute;
  left: 1303px;
  top: 195px;
  object-fit: cover;
}
.image-4 {
  width: 85px;
  height: 85px;
  position: absolute;
  left: 1419px;
  top: 195px;
  object-fit: cover;
}
  .header {
    width: 1714px;
    height: 221px;
    position: absolute;
    left: calc(50% - 824px);  /* Adjust the left position to center align based on your page layout */
    top: 26px;
    overflow: hidden;
}
.home, .experience, .education, .technical-skills-and-relevant-skills, .linked-in {
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    font-family: "Maven Pro", Helvetica;
    font-size: 32px;
    line-height: 130%;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 121px;
}
.home {
  color: rgba(255, 255, 255, 0.77);
  text-align: center;
  font-family: "Maven Pro", Helvetica;
  font-size: 32px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  right: 1536px;
  top: 28px;
  width: 190px;
  height: 101px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.experience {
  color: rgba(255, 255, 255, 0.77);
  text-align: center;
  font-family: "Maven Pro", Helvetica;
  font-size: 32px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 623px);
  top: calc(50% - 82.5px);
  width: 252px;
  height: 101px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.education {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-family: "Maven Pro", Helvetica;
  font-size: 32px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  right: 990px;
  top: 28px;
  width: 181px;
  height: 101px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.technical-skills-and-relevant-skills {
  color: rgba(255, 255, 255, 0.77);
  text-align: center;
  font-family: "Maven Pro", Helvetica;
  font-size: 32px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  right: 355px;
  top: 28px;
  width: 542px;
  height: 101px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.linked-in {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-family: "Maven Pro", Helvetica;
  font-size: 32px;
  line-height: 130%;
  font-weight: 400;
  text-decoration: underline;
  position: absolute;
  right: 90px;
  top: 28px;
  width: 173px;
  height: 101px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home2 {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-family: "Maven Pro", Helvetica;
  font-size: 32px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  right: 1536px;
  top: 28px;
  width: 190px;
  height: 101px;
  display: flex;
  align-items: center;
  justify-content: center;
}
